Makefile
*.o
autom4te.cache/
canonical
config.log
config.status
configure
dash-search
debian/.debhelper/
debian/autoreconf.after
debian/autoreconf.before
debian/cruft.debhelper.log
debian/cruft.substvars
debian/cruft/
debian/cruft-common.debhelper.log
debian/cruft-common.substvars
debian/cruft-common/
debian/debhelper-build-stamp
debian/files
debian/tmp
design.png
filter_shell
merge_diff
merge_diff_test
merge_diff_tests/01/run/
readlinks
shellexptest
tools/Packages_amd64
