#!/usr/bin/make -f

export DEB_BUILD_MAINT_OPTIONS = hardening=+all

%:
	dh $@

override_dh_fixperms-arch:
	dh_fixperms
	chmod 700 debian/cruft/var/spool/cruft

override_dh_perl:
	dh_perl -d

execute_after_dh_install:
	mkdir -p debian/cruft/usr/lib/cruft/explain/
	mv -v debian/cruft-common/usr/lib/cruft/explain/dpkg debian/cruft/usr/lib/cruft/explain/
